* {
    box-sizing: border-box;
}

#wrap{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 10px;
}

table td {
    padding: 8px;
}

tr {
    text-align: center;
}

td {
    width: auto;
}

.label {
    background-color: aquamarine;
    font-weight: bold;
}

input {
    width: 300px;
    height: 40px;
}
.btn {
    width: 100px;
    height: 40px;
    background-color: rgb(214, 237, 245);
    font-weight: bold;
}

.btn:hover{
    background-color: steelblue;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 1100px;
    margin: 0 auto 10px;
}

.search-group {
    width: 1100px;
    display: flex;
    gap: 10px;
}

select {
    width: 147px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

tr.label td {
    border: 1px solid black;
}

tr:not(.label) td {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}

.score{
    width: 70px;
    border-radius: 8px;
    text-align: center;
}

h3 {
    width: 1100px;
    margin: 10px auto;
}

button{
    width: 75px;
    cursor: pointer;
}